.cs142-topbar-appBar {
  height: 60;
  justify-content: "center";
  border-bottom: 1px solid #000;

}

.row {
  justify-content: "space-between";
}

.cs142-topbar-toolbar {
  background-color: white;
}

.toolBarLink {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
  padding: 8px;
  margin-left: 12px;
}

.toolBarLink:hover {
  text-decoration: underline;
}